/* Botón redondeado */
.p-button-rounded {
  gap: 8px;
  background: #F3B04E;
  border-radius: 100px;
}

/* Color del texto del p-float-label */
.p-float-label label {
  color: #ffffff;
}

/* Opcional: Cambiar el color del texto del p-float-label a gris claro */
.p-float-label.focused label {
  color: #c0c0c0;
}

.p-card {
  box-shadow: none;
  width: 400px;
}

.logo {
  max-width: 100%; /* Para hacer el logo responsive */
  height: auto; /* Para mantener la proporción del logo */
  margin-bottom: 20px; /* Espacio entre el logo y el formulario */
}

.subtitle {
  left: calc(50% - 351px / 2 + 0.5px);
  top: 440px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #393939; /* color: Secundarios/Gris 4 */
}

.forgot-button {
  background: #388CD9; /* Estados/avanzar */
  border-radius: 100px;

}

.forgot-button:hover {
  background-color: #3072BF; /* Un azul más oscuro para el hover */
  border-color: #3072BF; /* Asegúrate de que el color del borde también cambie para mantener la consistencia */
}

.back-button {
  border: 1px solid #F3B04E; /* Añadir el borde amarillo */
  border-radius: 100px; /* Redondear los bordes */
  background: white;
  color: #222; /* Cambiar el color del texto a un tono de negro más suave */
  font-family: 'Roboto';
}

.container {
  transform: scale(0.9);
}

.foto-container {
  position: relative;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Coloca la imagen de fondo detrás de otros elementos */
}
