<div class="foto-container">
  <img src="../../../assets/image/Foto-fondo.jpg" class="background-image" alt="" />
  <app-modal-password [display]="isModalDisplayed" [email]="obscuredEmail" (close)="closeModal()"></app-modal-password>
  
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center mt-5">
        <div class="justify-content-center">
          <img class="logo" src="../../../assets/image/LogoGrande.svg" alt="logo" />
        </div>
        <p-card class="row justify-content-center">
          <p class="subtitle">Ingresa tu correo para recibir instrucciones para recuperar tu contraseña.</p>
          <div *ngIf="errorMessage" class="p-error mt-3">{{ errorMessage }}</div>
          <form class="p-fluid">
            <div class="p-field mt-3">
              <input type="email" pInputText placeholder="Correo corporativo" [(ngModel)]="email" name="email" required #emailModel="ngModel">
              <div *ngIf="emailModel.errors?.['required'] && emailModel.touched" class="p-error mt-1">Correo electrónico es requerido.</div>
            </div>
            <div class="mt-5">
              <button pButton type="button" label="Recuperar Contraseña" class="forgot-button" (click)="sendResetCode()"></button>
            </div>
            <div class="mt-3">
              <button pButton routerLink="/login" type="button" label="Volver" class="back-button"></button>
            </div>
          </form>
        </p-card>
      </div>
    </div>
  </div>
</div>