<div class="foto-container">
  <img alt="" class="background-image" src="../../../assets/image/Foto-fondo.jpg"/>
  <app-modal-password (close)="closeModal()" [display]="isModalDisplayed" [email]="obscuredEmail"></app-modal-password>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center mt-5">
        <div class="justify-content-center">
          <img alt="logo" class="logo" src="../../../assets/image/LogoGrande.svg"/>
        </div>
        <p-card class="row justify-content-center">
          <p class="subtitle">Ingresa tu correo para recibir instrucciones para recuperar tu contraseña.</p>
          <div *ngIf="errorMessage" class="p-error mt-3">{{ errorMessage }}</div>
          <form class="p-fluid">
            <div class="p-field mt-3">
              <input #emailModel="ngModel" [(ngModel)]="email" name="email" pInputText placeholder="Correo corporativo"
                     required
                     type="email">
              <div *ngIf="emailModel.errors?.['required'] && emailModel.touched" class="p-error mt-1">Correo electrónico
                es requerido.
              </div>
            </div>
            <div class="mt-5">
              <button (click)="sendResetCode()" class="forgot-button" label="Recuperar Contraseña" pButton
                      type="button"></button>
            </div>
            <div class="mt-3">
              <button class="back-button" label="Volver" pButton routerLink="/sign-in" type="button"></button>
            </div>
          </form>
        </p-card>
      </div>
    </div>
  </div>
</div>
