<!--
<form [formGroup]="EditCompanyForm" class="mt-4">
  <div class="grid-container-create gap-3">
    <div class="grid-item my-3">
        <span class="p-float-label">
          <input
            class="w-100 rounded"
            id="rut"
            pInputText
            type="text"
            formControlName="rut"
          />
          <label for="rut">Rut</label>
        </span>
    </div>
    <div class="grid-item my-3">
        <span class="p-float-label">
          <input
            class="w-100 rounded"
            id="razonSocial"
            pInputText
            type="text"
            formControlName="razonSocial"
          />
          <label for="razonSocial">Razón Social</label>
        </span>
    </div>
    <div class="grid-item my-3">
        <span class="p-float-label">
          <input
            class="w-100 rounded"
            id="nombreCorto"
            pInputText
            type="text"
            formControlName="nombreCorto"
          />
          <label for="nombreCorto">Nombre Corto</label>
        </span>
    </div>

    <div class="grid-item my-3">
        <span class="p-float-label">
          <input
            class="w-100 rounded"
            id="giro"
            pInputText
            type="text"
            formControlName="giro"
          />
          <label for="giro">Giro</label>
        </span>
    </div>
    <div class="grid-item my-3">
        <span class="p-float-label">
          <input
            class="w-100 rounded"
            id="domicilio"
            pInputText
            type="text"
            formControlName="domicilio"
          />
          <label for="domicilio">Domicilio</label>
        </span>
    </div>
    <div class="grid-item my-3">
        <span class="p-float-label">
          <input
            class="w-100 rounded"
            id="comuna"
            pInputText
            type="text"
            formControlName="comuna"
          />
          <label for="comuna">Comuna</label>
        </span>
    </div>
    <div class="grid-item my-3">
        <span class="p-float-label">
          <input
            class="w-100 rounded"
            id="sitioWeb"
            pInputText
            type="text"
            formControlName="sitioWeb"
          />
          <label for="sitioweb">Sitio Web</label>
        </span>
    </div>
    <div class="grid-item my-3 d-flex align-items-center grid-item-checkbox">
      <mat-checkbox formControlName="prestador">
        Prestador
      </mat-checkbox>
    </div>

  </div>
  <div class="col d-flex justify-content-center my-2">

    <mat-form-field class=" w-100 ">

      <mat-label>Observaciones</mat-label>

      <textarea matInput placeholder="Observaciónes..." id="observaciones" formControlName="observaciones"></textarea>
    </mat-form-field>

  </div>
  <div class="col-md-2 d-flex justify-content-center my-2">
    <button class="search-button  rounded-5 py-2 w-100" (click)="onSubmit()">
      Editar Empresa
    </button>
  </div>
</form>

-->
