.header-individual {
  background-color: #01A2AE;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  border: 1px solid #01A2AE;

}

.consultar-button {
  background: #388CD9;
  border-radius: 100px;

}

.consultar-button:hover {
  background-color: #3072BF; 
  border-color: #3072BF; 
}
