<app-navbar></app-navbar>
<app-modal-exitoso
  (cerrar)="cerrarModalExito()"
  *ngIf="mostrarModalExito"
  [mensajeModal]="mensajeModalExito"
  [titulo]="tituloModalExito"
></app-modal-exitoso>

<app-modal-advertencia
  (cerrar)="cerrarModalAdvertencia()"
  *ngIf="mostrarModalAdvertencia"
  [mensajeModalAdvertencia]="mensajeModalAdvertencia"
  [tituloModalAdvertencia]="tituloModalAdvertencia">
</app-modal-advertencia>


<div class="container-md">
  <div class="frame mt-3" id="frame_middletop">
    <div class="row">
      <div class="col mb-3">
        <h2 class="consultation-title">
          <img
            class=""
            height="16"
            src="../../../assets/image/logo-amarillo.jpg"
          />
          Ingresar usuario
        </h2>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li
              *ngFor="let crumb of breadcrumbs; let last = last"
              [class.active]="last"
              class="breadcrumb-item"
            >
              <a *ngIf="!last" [routerLink]="crumb.link">{{ crumb.text }}</a>
              <span *ngIf="last">{{ crumb.text }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <form [formGroup]="usuarioForm" class="mt-4">
        <div class="grid-item my-3">
          <span class="p-float-label">
            <input
              autocomplete="on"
              class="w-100 rounded"
              id="rut"
              pInputText
              #rut
              type="text"
              [value]="rut.value | rutPipe"
              formControlName="rut"
            />
            <label for="rut">Rut (12345678-9)</label>
          </span>
        </div>

        <div class="grid-item my-3">
          <span class="p-float-label">
            <input
              autocomplete="on"
              class="w-100 rounded"
              id="email"
              pInputText
              type="text"
              formControlName="email"
            />
            <label for="email">Email</label>
          </span>
        </div>

        <div class="grid-item my-3">
          <span class="p-float-label">
            <input
              autocomplete="on"
              class="w-100 rounded"
              id="nombres"
              pInputText
              type="text"
              formControlName="nombres"
            />
            <label for="nombres">Nombres</label>
          </span>
        </div>

        <div class="grid-item my-3">
          <span class="p-float-label">
            <input
              autocomplete="on"
              class="w-100 rounded"
              id="apellidos"
              pInputText
              type="text"
              formControlName="apellidos"
            />
            <label for="apellidos">Apellidos</label>
          </span>
        </div>

        <div class="grid-item my-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rolId">
              <mat-option value="1">Administrador</mat-option>
              <mat-option value="2">Ingreso</mat-option>
              <mat-option value="3">Consulta</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="grid-item my-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Empresa</mat-label>
            <mat-select formControlName="empresa">
              <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
                {{ empresa.nombreCorto }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
      </form>

      <div class="col-md-4 d-flex justify-content-end align-items-end">
        <!-- <button pButton type="button" class="search-button px-5 py-2 mb-3" (click)="abrirModalExito()">
          Ingresar
        </button> -->
        <button
          (click)="onSubmit()"
          class="search-button px-5 py-2 mb-3"
          pButton
          type="button"
        >
          Registrar
        </button>
      </div>
    </div>
    <div class="container-fluid no-tabla my-2 px-0">
      <hr />
      <div class="row my-4">
        <div class="col-md-2 col-12">
          <button
            class="back-button p-2 w-100"
            label="Volver"
            pButton
            routerLink="/home"
            type="button"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
