<nav
  class="navbar navbar-light bg-light navbar-expand-lg sticky-top navbar-shadow-box"
>
  <div class="container-md">
    <app-modal-resumen-ingreso-individual
      (cerrar)="cerrarModalResumenIngresoIndividual()"
      (exito)="abrirModalExito()"
      *ngIf="mostrarModalResumenIngresoIndividual"
    >
    </app-modal-resumen-ingreso-individual>
    <app-modal-exitoso
      (cerrar)="cerrarModalExito()"
      *ngIf="mostrarModalExito"
      [mensajeModal]="mensajeModalExito"
      [titulo]="tituloModalExito"
    >
    </app-modal-exitoso>

    <a class="navbar-brand" href="home">
      <img
        alt="User Icon"
        class="d-inline-block align-text-top user-logo"
        height="40"
        src="../../../assets/image/Logo.svg"
        width="100"
      />
    </a>
    <button
      class="navbar-toggler"
      data-bs-target="#navbarCollapse"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarCollapse"
    >
      <ul class="navbar-nav">
        <li class="d-none d-lg-block">
          <p-divider layout="vertical"></p-divider>
        </li>
        <li class="navbar-item d-lg-block d-none">
          <p class="nav-link text-end">Perfil</p>
          <ul class="navbar-nav">
            <li class="navbar-item">
              <p class="nav-link text-end">Hola, Juan Perez</p>
            </li>
          </ul>
        </li>
        <!-- Mostrar solo "Perfil" en pantallas pequeñas -->
        <li class="navbar-item">
          <a class="nav-link d-lg-none" href="#">Perfil Juan Perez</a>
        </li>
        <li
          class="navbar-item d-flex justify-content-center align-items-center"
        >
          <img
            alt="User Icon"
            class="user-icon"
            src="../../../assets/image/user.png"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-md">
  <div class="frame mt-3" id="frame_middletop">
    <div class="row">
      <div class="col-md-12">
        <h2 class="consultation-title">
          <img
            class=""
            height="16"
            src="../../../assets/image/logo-amarillo.jpg"
          />
          Ingreso Individual
        </h2>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li
              *ngFor="let crumb of breadcrumbs; let last = last"
              [class.active]="last"
              class="breadcrumb-item"
            >
              <a *ngIf="!last" [routerLink]="crumb.link">{{ crumb.text }}</a>
              <span *ngIf="last">{{ crumb.text }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="grid-container gap-3">
    <div class="grid-item my-3">
      <div class="card flex flex-wrap gap-3 p-fluid border-0">
        <div class="flex-auto">
          <span class="p-float-label">
            <p-calendar
              [iconDisplay]="'input'"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              id="fecha_ingreso"
              inputId="fecha_ingreso"
            ></p-calendar>
            <label class="" for="fecha_ingreso">Fecha de ingreso</label>
          </span>
        </div>
      </div>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input
          appRutFormatter
          autocomplete="on"
          class="w-100 rounded"
          id="rut"
          pInputText
          type="text"
        />
        <label for="rut">Rut (12345678-9)</label>
      </span>
    </div>
    <div class="grid-item my-3">
      <select
        (change)="onEmpresaChange()"
        [(ngModel)]="selectedEmpresa"
        class="form-select py-3 color-select"
      >
        <option [ngValue]="undefined" disabled>Empresa</option>
        <option *ngFor="let empresa of empresaOptions" [ngValue]="empresa.value">
          {{ empresa.label }}
        </option>

      </select>
    </div>

    <div class="grid-item my-3">
      <select
        (change)="onAgencyChange()"
        [(ngModel)]="selectedAgency"
        [disabled]="!selectedEmpresa"
        class="form-select py-3 color-select"
      >
        <option [ngValue]="undefined" disabled>Agencia</option>
        <option *ngFor="let agency of agencies" [ngValue]="agency">
          {{ agency.nombre }}
        </option>

      </select>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input
          [(ngModel)]="selectedDPC"
          class="w-100 rounded"
          disabled
          id="dpc"
          pInputText
          placeholder="DPC"
          type="text"
        />
        <label for="dpc">DPC</label>
      </span>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input
          [(ngModel)]="selectedNemonico"
          class="w-100 rounded"
          disabled
          id="nemonico"
          pInputText
          placeholder="Nemónico"
          type="text"
        />
        <label for="nemonico">Nemónico</label>
      </span>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input class="w-100 rounded" id="inventario" pInputText type="Number"/>
        <label for="inventario">N° Inventario</label>
      </span>
    </div>
    <div class="grid-item my-3">
      <select (change)="onTypeChange()" [(ngModel)]="selectedType" class="form-select py-3 color-select">
        <option disabled selected value="">Tipo de Equipo</option>
        <option *ngFor="let type of equipmentTypes" [ngValue]="type.value">{{ type.label }}</option>
      </select>
    </div>

    <div class="grid-item my-3">
      <ng-container *ngIf="isEquipmentWithNoOptions(selectedType); else notSpecialEquipment">
        <select [(ngModel)]="selectedSO" class="form-select py-3 color-select" disabled>
          <option value="N/A">N/A</option>
        </select>
      </ng-container>
      <ng-template #notSpecialEquipment>
        <select (change)="onSOChange()" [(ngModel)]="selectedSO" class="form-select py-3 color-select">
          <option disabled value="">Sistema Operativo</option>
          <option *ngFor="let so of sistemasOperativos" [value]="so.so">
            {{ so.so }}
          </option>
        </select>
      </ng-template>
    </div>


    <div class="grid-item my-3">
      <select
        [(ngModel)]="selectedVersion"
        [disabled]="versionesFiltradas.length === 0"
        [ngClass]="{ 'disabled-select': versionesFiltradas.length === 0 }"
        class="form-select py-3 color-select"
      >
        <option disabled value="">Versión</option>
        <option *ngFor="let version of versionesFiltradas" [value]="version">
          {{ version }}
        </option>
      </select>
    </div>
    <div class="grid-item my-3">
      <select class="form-select py-3 color-select">
        <option disabled selected value="">Uso</option>
        <option>Administrativo</option>
        <option>Caja</option>
      </select>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input
          autocomplete="on"
          class="w-100 rounded"
          id="marca"
          pInputText
          type="text"
        />
        <label for="marca">Marca</label>
      </span>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input
          autocomplete="on"
          class="w-100 rounded"
          id="modelo"
          pInputText
          type="text"
        />
        <label for="modelo">Modelo</label>
      </span>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input
          (keyup)="onMacInput($event)"
          [(ngModel)]="macAddress"
          class="w-100 rounded"
          id="mac"
          pInputText
          type="text"
        />
        <label for="mac">MAC (XX:XX:XX:XX:XX:XX)</label>
      </span>
      <div *ngIf="isValidMAC === false" class="text-danger">
        Dirección MAC no válida
      </div>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input
          (keyup)="limitAndValidateIP()"
          [(ngModel)]="ipAddress"
          class="w-100 rounded"
          id="ip"
          pInputText
          type="text"
        />

        <label for="ip">IP (IPV4 o IPv6)</label>
      </span>
      <div *ngIf="isValidIP === false" class="text-danger">
        Dirección IP no válida
      </div>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input class="w-100 rounded" id="maquina" pInputText type="text"/>
        <label for="maquina">Nombre Máquina </label>
      </span>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input
          [(ngModel)]="procesador"
          [disabled]="isEquipmentWithNoOptions(selectedType)"
          [value]="isEquipmentWithNoOptions(selectedType) ? 'N/A' : procesador"
          class="w-100 rounded"
          id="procesador"
          pInputText
          type="text"
        />
        <label for="procesador">Procesador</label>
      </span>
    </div>
    <div class="grid-item my-3">
      <div class="p-float-label position-relative">
        <input
          [(ngModel)]="ram"
          [disabled]="isEquipmentWithNoOptions(selectedType)"
          [value]="isEquipmentWithNoOptions(selectedType) ? 'N/A' : ram"
          class="w-100 rounded"
          id="ram"
          pInputText
          type="text"/>
        <label for="ram">RAM</label>
        <div *ngIf="!isEquipmentWithNoOptions(selectedType)"
             class="position-absolute"
             style="top: 0; right: 10px; height: 100%; display: flex; align-items: center; pointer-events: none;">
          GB
        </div>
      </div>
    </div>

    <div class="grid-item my-3">
      <ng-container *ngIf="isEquipmentWithNoOptions(selectedType); else notPrinterDisk">
        <select [(ngModel)]="tipoDisco" class="form-select py-3 color-select w-100 rounded" disabled>
          <option value="N/A">N/A</option>
        </select>
      </ng-container>
      <ng-template #notPrinterDisk>
        <select [(ngModel)]="tipoDisco" class="form-select py-3 color-select w-100 rounded">
          <option disabled value="">SSD/HDD</option>
          <option value="SSD">SSD</option>
          <option value="HDD">HDD</option>
        </select>
      </ng-template>
    </div>

    <div class="grid-item my-3">
      <!-- TODO: revisar appLimitInput, a que corresponde -->
      <span class="p-float-label">
        <input
          (keyup)="onDDLTBKInput()"
          [(ngModel)]="ddlTbk"
          [disabled]="isEquipmentWithNoOptions(selectedType) && selectedType !== 'TBK'"
          [value]="isEquipmentWithNoOptions(selectedType) && selectedType !== 'TBK' ? 'N/A' : ddlTbk"
          appLimitInput
          class="w-100 rounded"
          id="ddlTbk"
          pInputText
          type="text"
        />
        <label for="ddlTbk">DDL/TBK (XXX-XXX-XXX)</label>
      </span>
      <div *ngIf="isValidDDLTBK === false" class="text-danger">
        Formato DDL/TBK no válido
      </div>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input class="w-100 rounded" id="serie" pInputText type="text"/>
        <label for="serie">Número de Serie </label>
      </span>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input
          autocomplete="on"
          class="w-100 rounded"
          id="encargado"
          pInputText
          type="text"
        />
        <label for="encargado">Encargado Agencia</label>
      </span>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input class="w-100 rounded" id="ubicacion" pInputText type="text"/>
        <label for="ubicacion">Ubicación</label>
      </span>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input class="w-100 rounded" id="garantia" pInputText type="Number"/>
        <label for="garantia">Garantía</label>
      </span>
    </div>
    <div class="grid-item my-3">
      <span class="p-float-label">
        <input
          autocomplete="on"
          class="w-100 rounded"
          id="orden_compra"
          pInputText
          type="text"
        />
        <label for="orden_compra">Orden de compra</label>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr/>
    </div>
  </div>

  <div class="row mt-3 mb-5">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <button
          class="back-button px-5 py-2"
          label="Volver"
          pButton
          routerLink="/home"
          type="button"
        ></button>

        <button
          (click)="abrirModalResumenIngresoIndividual()"
          class="search-button px-5 py-2"
          label="Ingresar"
          pButton
          type="button"
        ></button>
      </div>
    </div>
  </div>
</div>
