<nav
  class="navbar navbar-light bg-light navbar-expand-lg sticky-top navbar-shadow-box"
>
  <div class="container-md">
    <app-modal-resumen-ingreso-individual
      *ngIf="mostrarModalResumenIngresoIndividual"
      (cerrar)="cerrarModalResumenIngresoIndividual()"
      (exito)="abrirModalExito()"
    >
      >
    </app-modal-resumen-ingreso-individual>
    <app-modal-exitoso
      *ngIf="mostrarModalExito"
      [titulo]="tituloModalExito"
      [mensajeModal]="mensajeModalExito"
      (cerrar)="cerrarModalExito()"
    >
    </app-modal-exitoso>

    <a class="navbar-brand" href="home">
      <img
        src="../../../assets/image/Logo.svg"
        alt="User Icon"
        width="100"
        height="40"
        class="d-inline-block align-text-top user-logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarCollapse"
    >
      <ul class="navbar-nav">
        <li class="d-none d-lg-block">
          <p-divider layout="vertical"></p-divider>
        </li>
        <li class="navbar-item d-lg-block d-none">
          <p class="nav-link text-end">Perfil</p>
          <ul class="navbar-nav">
            <li class="navbar-item">
              <p class="nav-link text-end">Hola, Juan Perez</p>
            </li>
          </ul>
        </li>
        <!-- Mostrar solo "Perfil" en pantallas pequeñas -->
        <li class="navbar-item">
          <a href="#" class="nav-link d-lg-none">Perfil Juan Perez</a>
        </li>
        <li
          class="navbar-item d-flex justify-content-center align-items-center"
        >
          <img
            src="../../../assets/image/user.png"
            alt="User Icon"
            class="user-icon"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-md">
  <div class="frame mt-3" id="frame_middletop">
    <div class="row">
      <div class="col-md-12">
        <h2 class="consultation-title">
          <img
            src="../../../assets/image/logo-amarillo.jpg"
            height="16"
            class=""
          />
          Ingreso Individual
        </h2>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li
              class="breadcrumb-item"
              *ngFor="let crumb of breadcrumbs; let last = last"
              [class.active]="last"
            >
              <a *ngIf="!last" [routerLink]="crumb.link">{{ crumb.text }}</a>
              <span *ngIf="last">{{ crumb.text }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <div class="card flex flex-wrap gap-3 p-fluid border-0">
        <div class="flex-auto">
          <span class="p-float-label">
            <p-calendar
              [showIcon]="true"
              inputId="fecha_ingreso"
              dateFormat="dd/mm/yy"
              [iconDisplay]="'input'"
            ></p-calendar>
            <label class="" for="fecha_ingreso"
              >Fecha de ingreso</label
            >
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <select
        [(ngModel)]="selectedAgency"
        (change)="onAgencyChange()"
        class="form-select py-3 color-select"
      >
        <option [ngValue]="undefined" disabled>Seleccione una agencia</option>
        <option *ngFor="let agency of agencies" [ngValue]="agency">
          {{ agency.name }}
        </option>
      </select>
    </div>
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input
          class="w-100 rounded"
          [(ngModel)]="selectedDCP"
          id="dcp"
          type="text"
          placeholder="DCP"
          disabled
          pInputText
        />
        <label for="dcp">DCP</label>
      </span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input
          class="w-100 rounded"
          [(ngModel)]="selectedEmpresa"
          id="empresa"
          type="text"
          placeholder="Empresa"
          disabled
          pInputText
        />
        <label for="empresa">Empresa</label>
      </span>
    </div>
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input
          class="w-100 rounded"
          [(ngModel)]="selectedNemonico"
          id="nemonico"
          type="text"
          placeholder="Nemonico"
          disabled
          pInputText
        />
        <label for="nemonico">Nemonico</label>
      </span>
    </div>

    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input class="w-100 rounded" id="inventario" type="Number" pInputText />
        <label for="inventario">N° Inventario</label>
      </span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <select class="form-select py-3 color-select">
        <option value="" selected disabled>Tipo Equipo</option>
        <option>Equipo 2</option>
        <option>Equipo 3</option>
        <option>Equipo 4</option>
      </select>
    </div>
    <!-- Sistema Operativo Select -->
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <select
        [(ngModel)]="selectedSO"
        (change)="onSOChange()"
        class="form-select py-3 color-select"
      >
        <option value="" disabled>Seleccione un sistema operativo</option>
        <option *ngFor="let so of sistemasOperativos" [value]="so.so">
          {{ so.so }}
        </option>
      </select>
    </div>

    <!-- Versión Select, se actualiza basado en el SO seleccionado -->
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <select
        [(ngModel)]="selectedVersion"
        [disabled]="versionesFiltradas.length === 0"
        class="form-select py-3 color-select"
      >
        <option value="" disabled>Seleccione una versión</option>
        <option *ngFor="let version of versionesFiltradas" [value]="version">
          {{ version }}
        </option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <select class="form-select py-3 color-select">
        <option value="" selected disabled>Uso</option>
        <option>Administrativo</option>
        <option>Caja</option>
      </select>
    </div>
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input class="w-100 rounded" id="marca" type="text" pInputText />
        <label for="marca">Marca</label>
      </span>
    </div>
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input class="w-100 rounded" id="modelo" type="text" pInputText />
        <label for="modelo">Modelo</label>
      </span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input
          [(ngModel)]="macAddress"
          (keyup)="onMacInput($event)"
          type="text"
          pInputText
          class="w-100 rounded"
        />

        <label for="mac">MAC (XX:XX:XX:XX:XX:XX)</label>
      </span>
    </div>

    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input
          class="w-100 rounded"
          id="ip"
          [(ngModel)]="ipAddress"
          pInputText
          (ngModelChange)="validateIP()"
          type="text"
        />
        <label for="ip">IP (XXX.XXX.XXX.XXX o IPv6)</label>
      </span>
      <div *ngIf="isValidIP === false" class="text-danger">
        Dirección IP no válida
      </div>
    </div>

    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input class="w-100 rounded" id="maquina" type="text" pInputText />
        <label for="maquina">Nombre Máquina </label>
      </span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input class="w-100 rounded" id="procesador" type="text" pInputText />
        <label for="procesador">Procesador</label>
      </span>
    </div>

    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <div class="p-float-label position-relative">
        <input class="w-100 rounded" id="ram" pInputText type="text" />
        <label for="ram">RAM</label>
        <div
          class="position-absolute"
          style="
            top: 0;
            right: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            pointer-events: none;
          "
        >
          GB
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <select class="form-select py-3 color-select">
        <option value="" selected disabled>SSD / HDD</option>
        <option>SSD</option>
        <option>HDD</option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input
          [(ngModel)]="ddlTbk"
          (keyup)="onDDLTBKInput()"
          appLimitInput
          pInputText
          type="text"
          class="w-100 rounded"
          id="ddlTbk"
        />

        <label for="ddlTbk">DDL/TBK (XXX-XXX-XXX)</label>
      </span>
      <div *ngIf="isValidDDLTBK === false" class="text-danger">
        Formato DDL/TBK no válido
      </div>
    </div>

    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input class="w-100 rounded" id="serie" type="text" pInputText />
        <label for="serie">Número de Serie </label>
      </span>
    </div>
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input class="w-100 rounded" id="encargado" type="text" pInputText />
        <label for="encargado">Encargado Agencia</label>
      </span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input class="w-100 rounded" id="ubicacion" type="text" pInputText />
        <label for="ubicacion">Ubicación</label>
      </span>
    </div>
    <div class="col-md-4 mt-4 mb-5 mt-md-0">
      <span class="p-float-label">
        <input class="w-100 rounded" id="garantia" type="Number" pInputText />
        <label for="garantia">Garantía</label>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <button
          pButton
          routerLink="/home"
          type="button"
          label="Volver"
          class="back-button px-5 py-2"
        ></button>

        <button
          pButton
          type="button"
          label="Ingresar"
          (click)="abrirModalResumenIngresoIndividual()"
          class="search-button px-5 py-2"
        ></button>
      </div>
    </div>
  </div>
</div>
