.search-button {
  border: none;
  border-radius: 100px;
  background-color: #34AA4E;
  color: white;
  font-family: 'Roboto';
}

.search-button:hover {
  background-color: #2C8C40;

  border-color: #2C8C40;

}

.large-checkbox {
  width: 1.5em;

  height: 1.5em;

}

.large-label {
  font-size: 1.25em;
  padding: 0.25em 0.5em;
  display: inline-block;
}

.color-select {
  background-color: #EAEAEA;
}


.color-input-label {
  background-color: #EAEAEA;
}


.color-input-label::after {
  background-color: #EAEAEA;
}

.form-floating::after {
  display: none;
}


.p-inputtext {
  border: none !important;
  box-shadow: none !important;
  color: black !important;


}

.p-float-label .p-inputtext:not(:placeholder-shown) + label,
.p-float-label .p-inputtext:focus + label,
.p-float-label p-calendar + label {
  color: black !important;
  background-color: transparent;
}

.p-float-label label {
  color: grey !important;
  background-color: transparent;
}

.p-float-label .p-inputtext::placeholder {
  color: transparent;
}

.p-float-label .p-inputtext:focus::placeholder {
  color: black !important;
}

.color-label {
  color: black !important;
}


input[type=number] {
  -moz-appearance: textfield;
}

.p-calendar .p-inputtext {
  border: none !important;
}


.p-calendar .p-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.disabled-select,
.form-select:disabled {
  background-color: #f8f8f8;
  color: #6c757d;
  border: none;


}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}


@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
