<div class="example-table-container">
  <table [dataSource]="activaDataSource" class="example-table" mat-table>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> Fecha</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.fecha }}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="razonUsuario">
      <mat-header-cell *matHeaderCellDef> Razón/Usuario</mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        [innerHTML]="row.razonUsuario | newline"
        class="py-2">
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="10"
    class="custom-borders"
  ></mat-paginator>
</div>
