<div class="foto-container">
  <img alt="" class="background-image" src="../../../assets/image/Foto-fondo.jpg"/>
  <div class="container">


    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center mt-5">
        <div class="justify-content-center">
          <img alt="logo" class="logo" src="../../../assets/image/LogoGrande.svg"/>
        </div>
        <p-card class="row justify-content-center">
          <form (ngSubmit)="verificarCodigo()" class="p-fluid">
            <!-- Display error message -->
            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

            <!-- Email Input -->
            <div class="p-field mb-3">
              <input [(ngModel)]="username" class="input-color" name="username" pInputText placeholder="Email"
                     required type="email">
            </div>

            <!-- Verification Code Input -->
            <div class="p-field mb-3">
              <input [(ngModel)]="confirmationCode" class="input-color" name="confirmationCode" pInputText
                     placeholder="Código de verificación" required type="text">
            </div>

            <!-- Verify Button -->
            <button class="p-button-rounded mt-5" label="Verificar" pButton type="submit"></button>
            <button class="back-button mt-3" label="Volver" pButton routerLink="/sign-in" type="button"></button>
          </form>
        </p-card>
      </div>


    </div>

  </div>
  <app-modal-exitoso
    (cerrar)="cerrarModalExito()"
    *ngIf="mostrarModalExito"
    [mensajeModal]="mensajeModalExito"
    [titulo]="tituloModalExito">
  </app-modal-exitoso>
</div>
