.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  backdrop-filter: blur(10px);
}

.modal.show {
  display: flex;
  align-items: flex-start; /* Alinea el modal hacia la parte superior */
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 544px;
  height: 485px;
  margin-top: 10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative; /* Se agrega para centrar correctamente el contenido */
}

.info {
  color: grey;
  font-size: small;
}


.text-container-subtitle {
  font-size: 16px;
  color: #5D5D5D;
}

.text-container-subtitle p {
  margin: 0;
  padding: 0;

}


.correo-indented {
  text-align: left;
  padding-left: 9em; /* Ajusta este valor según tus necesidades */
}

.correo-resaltado {
  color: #010101; /* Cambia el color */
  font-size: 24px; /* Aumenta el tamaño de fuente */
}

.info-box {
  background-color: #C7E2FB;
  /* Añade padding para dar espacio dentro del cuadrado */


  /* Añade bordes redondeados si lo deseas */
  border-radius: 10px;
  /* Establece el ancho máximo para que no se extienda demasiado en pantallas grandes */
  max-width: 80%;
  /* Para centrar el cuadrado si el ancho máximo es menor que el ancho disponible */
  margin-left: auto;
  margin-right: auto;
}

.info-box p {
  color: #388CD9;

}

.resend-link {
  color: #388CD9;
  font-size: 14px;
}

.modal-footer {
  text-align: center;
  padding-top: 20px; /* O el espacio que necesites */
  justify-content: space-between;
  border-top: none; /* Asegúrate de que no haya borde superior */
  box-shadow: none;

}


.btn {
  font-size: 16px; /* Ajusta el tamaño de la fuente si es necesario */
  border-radius: 20px; /* Los bordes redondeados según la imagen */
  border: 1px solid; /* El borde sólido */
  cursor: pointer;
  width: auto; /* Podrías cambiar esto a un porcentaje si quieres especificar un ancho */
}

.btn-outline {
  background-color: transparent;
  color: #393939; /* El color del texto */
  font-weight: 500;
  border-color: #FFA500; /* El color del borde */
}

.btn-primary {
  background-color: #388CD9; /* El color de fondo */
  color: white; /* El color del texto */
  font-weight: 500;
  border-color: #388CD9; /* El color del borde */
}

.btn-primary:hover {
  background-color: #3072BF; /* Un azul más oscuro para el hover */
  border-color: #3072BF; /* Asegúrate de que el color del borde también cambie para mantener la consistencia */
}

/* Ajusta el ancho de los botones si es necesario */
.btn-outline, .btn-primary {
  flex: 1; /* Esto hará que ambos botones tengan la misma anchura */
  margin: 0 30px; /* Asegura un poco de espacio entre los botones */
}

/* Puedes añadir estilos adicionales para hover si lo deseas */
.btn:hover {
  opacity: 0.9; /* Ejemplo de efecto hover */
}
