<div class="modal" [ngClass]="{'show': display}">
  <div class="modal-content  text-center pt-5 p-4">
 
      <h4>Recuperar contraseña</h4>

   
      <div class="text-container-subtitle mt-4"> <!-- Contenedor para los párrafos con estilo de subtítulo -->
        <p>Se ha enviado un link a su correo con los pasos</p>
        <p>a seguir para recuperar su contraseña</p>
        <br>
        <div class="correo-indented">
          <p>Correo:<br><span class="correo-resaltado">ju*************ejemplo.cl</span></p>
        </div>
      </div>
    <div class="modal-body">
     
    
      <div class="info-box mt-1">
        <p class="info px-0 py-1">(Puede tardar unos minutos en recibir el correo, revisar también carpeta spam)</p>
      </div>
      <a href="" class="resend-link mt-2">No he recibido el correo, reenviar</a>
    </div>
    
    
  
    <div class="modal-footer mt-0 pt-0">
      <button type="button" class="btn btn-outline px-1" (click)="onClose()">Volver</button>
      <button type="button" class="btn btn-primary px-1" routerLink="/recover-password">Continuar</button>


    </div>
    
  </div>
</div>
