<div class="modal" [ngClass]="{'show': display}">
  <div class="modal-content text-center pt-5 p-4">
    <h4>Recuperar contraseña</h4>
    <div class="text-container-subtitle mt-4">
      <p>Se ha enviado un link a su correo con los pasos a seguir para recuperar su contraseña.</p>
      <p>Correo:<br><span class="correo-resaltado">{{ email }}</span></p>
    </div>
    <div class="modal-body">
      <div class="info-box mt-1">
        <p class="info px-0 py-1">(Puede tardar unos minutos en recibir el correo, revisar también carpeta spam)</p>
      </div>
      <a href="" class="resend-link mt-2">No he recibido el correo, reenviar</a>
    </div>
    <div class="modal-footer mt-0 pt-0">
      <button type="button" class="btn btn-outline px-1" (click)="onClose()">Volver</button>
      <button type="button" class="btn btn-primary px-1" (click)="onContinue()">Continuar</button>
    </div>
  </div>
</div>