.container-fluid {
  padding: 0 20px !important;
}


.consultar-button {
  background: #388CD9;
  border-radius: 100px;

}

.consultar-button:hover {
  background-color: #3072BF;
  border-color: #3072BF;

}

.card-shadow-box {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.header-individual {
  background-color: #01A2AE;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  border: 1px solid #01A2AE;
}

.header-masiva {
  background-color: #D96A64;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  border: 1px solid #D96A64;
}

.header-ingreso {
  background-color: #F4B14F;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  border: 1px solid #F4B14F;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}