<app-navbar></app-navbar>

<app-modal-consulta-masiva
  (cerrar)="cerrarModalConsultaMasiva()"
  *ngIf="mostrarModalConsultaMasiva"
>
</app-modal-consulta-masiva>

<app-modal-gestion-usuario
  (cerrar)="cerrarModalGestionUsuario()"
  *ngIf="mostrarModalGestionUsuario"
>
</app-modal-gestion-usuario>

<app-modal-carga-masiva
  (abrirModalDuplicados)="abrirModalDuplicados()"
  (cargaExitosa)="finalizarCargaMasivaConExito()"
  (cerrar)="cerrarModalCargaMasiva()"
  (errorOcurrido)="abrirModalAdvertencia($event)" 
  (mostrarModalDuplicados)="abrirModalDuplicado($event)"
  *ngIf="mostrarModalCargaMasiva"
>
</app-modal-carga-masiva>

<app-modal-duplicado
  [errores]="erroresDuplicados"
  (cerrar)="cerrarModalDuplicados()"
  *ngIf="mostrarModalDuplicados"
></app-modal-duplicado>

<app-modal-exitoso
  (cerrar)="cerrarModalExito()"
  *ngIf="mostrarModalExito"
  [mensajeModal]="mensajeModalExito"
  [titulo]="tituloModalExito"
>
</app-modal-exitoso>
<app-modal-advertencia
(cerrar)="cerrarModalAdvertencia()"
*ngIf="mostrarModalAdvertencia"
[mensajeModalAdvertencia]="mensajeModalAdvertencia"
[tituloModalAdvertencia]="tituloModalAdvertencia"
></app-modal-advertencia>
<div class="container-md mb-5">
  <div class="frame mt-3" id="frame_middletop">
    <div class="row">
      <div class="col mb-3">
        <h2 class="consultation-title">
          <img
            class=""
            height="16"
            src="../../../assets/image/logo-amarillo.jpg"
          />
          Home
        </h2>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li
              *ngFor="let crumb of breadcrumbs; let last = last"
              [class.active]="last"
              class="breadcrumb-item"
            >
              <a *ngIf="!last" [routerLink]="crumb.link">{{ crumb.text }}</a>
              <span *ngIf="last">{{ crumb.text }}</span>
            </li>
          </ol>
        </nav>
      </div>
      <div class="col" *ngIf="rol === RoleEnum.ADMIN">
        <div class="row">
          <div class="col my-2">
            <div class="d-flex justify-content-evenly align-items-center h-100">
              <button
                (click)="abrirModalCargaMasiva()"
                class="consultar-button w-auto px-4"
                pButton
                type="button"
              >
                <img
                  class="imagen pe-lg-2"
                  src="../../../assets/image/upload.svg"
                />

                <span class="d-none d-lg-inline">Carga Masiva</span>
              </button>

              <button
                (click)="abrirModalGestionUsuario()"
                class="consultar-button w-auto px-4"
                pButton
                type="button"
              >
                <img
                  class="imagen pe-lg-2"
                  src="../../../assets/image/userlogo.svg"
                />
                <span class="d-none d-lg-inline">Gestión usuario</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card border rounded card-shadow-box">
          <div class="card-header px-5 py-1 header-individual">
            Consulta Individual
          </div>
          <div class="card-body p-md-4 p-3">
            <div class="row mt-1">
              <div class="col">
                <div class="d-flex flex-column h-100">
                  <div class="mb-auto">
                    <p class="m-auto text-center my-5">
                      Consultas detalladas y específicas sobre equipamientos.
                    </p>
                  </div>
                  <div class="mt-auto">
                    <button
                      class="consultar-button w-100 p-2"
                      label="Consultar"
                      pButton
                      routerLink="/consulta-individual"
                      type="button"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card border rounded card-shadow-box">
          <div class="card-header px-5 py-1 header-masiva">Consulta Masiva</div>
          <div class="card-body p-md-4 p-3">
            <div class="row mt-1">
              <div class="col">
                <div class="d-flex flex-column h-100">
                  <div class="mb-auto">
                    <p class="m-auto text-center my-5">
                      Consultas masivas sobre equipamientos vinculados a empresas y agencias.
                    </p>
                  </div>
                  <div class="mt-auto">
                    <button
                      (click)="abrirModalConsultaMasiva()"
                      class="consultar-button w-100 p-2"
                      label="Consultar"
                      pButton
                      type="button"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3" *ngIf="rol === RoleEnum.ADMIN || rol === RoleEnum.INGRESO">
        <div class="card border rounded card-shadow-box">
          <div class="card-header px-5 py-1 header-ingreso">
            Ingreso Individual
          </div>
          <div class="card-body p-md-4 p-3">
            <div class="row mt-1">
              <div class="col">
                <div class="d-flex flex-column h-100">
                  <div class="mb-auto">
                    <p class="m-auto text-center my-5">
                      Registro de equipamiento/activo en el sistema.
                    </p>
                  </div>
                  <div class="mt-auto">
                    <button
                      class="consultar-button w-100 p-2"
                      label="Ingresar"
                      pButton
                      routerLink="/ingreso-individual"
                      type="button"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3" *ngIf="rol === RoleEnum.ADMIN">
        <div class="card border rounded card-shadow-box">
          <div class="card-header px-5 py-1 header-individual">
            Gestor
          </div>
          <div class="card-body p-md-4 p-3">
            <div class="row mt-1">
              <div class="col">
                <div class="d-flex flex-column h-100">
                  <div class="mb-auto">
                    <p class="m-auto text-center my-5">
                      Gestión de empresas y agencias.
                    </p>
                  </div>
                  <div class="d-flex gap-2 justify-content-between align-items-center">
                    <button
                      class="consultar-button w-75 py-2"
                      label="Empresa"
                      pButton
                      routerLink="/company"
                      type="button"
                    ></button>
                    <button
                      class="consultar-button w-75 py-2"
                      label="Agencia"
                      pButton
                      routerLink="/agency"
                      type="button"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
