<app-navbar> </app-navbar>


<app-modal-historial-equipo
  (cerrar)="cerrarModalHistorialEquipo()"
  [equipoId]="equipoId"
  *ngIf="mostrarModalHistorialEquipo"
>
</app-modal-historial-equipo>

<div class="container-md">
  <div class="frame mt-3" id="frame_middletop">
    <div class="row">
      <div class="col-md-6">
        <h2 class="consultation-title">
          <img
            class=""
            height="16"
            src="../../../assets/image/logo-amarillo.jpg"
          />
          Consulta Individual
        </h2>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li
              *ngFor="let crumb of breadcrumbs; let last = last"
              [class.active]="last"
              class="breadcrumb-item"
            >
              <a *ngIf="!last" [routerLink]="crumb.link">{{ crumb.text }}</a>
              <span *ngIf="last">{{ crumb.text }}</span>
            </li>
          </ol>
        </nav>
      </div>

      <!-- <div class="col-md-6 col-sm-12">
        <div class="profile-details text-md-end">
          <p class="mb-0">Juan Perez</p>
          <p class="mb-0">10.923.948-8</p>
          <p class="mb-0">Empresa: Starken</p>
        </div>
      </div> -->
    </div>

    <div class="row mt-4 mb-3">
      <div class="col mb-4">
        <app-tabla-dpc
          #tablaDpcComponent
          [equipments]="equipments"
          (requestOpenModal)="openModalWithId($event)">
        ></app-tabla-dpc>
        <div class="row my-4 d-flex justify-content-between">
          <div class="col-12 mb-3">
            <button
              (click)="tablaDpcComponent.exportToExcel()"
              class="search-button p-2 w-100"
              label="Excel"
              pButton
              type="button"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
