<div class="custom-modal">
  <div class="custom-modal-content rounded-3 d-flex flex-column p-2">
    <div class="d-flex justify-content-end">
      <button
        aria-label="Close"
        class="btn-close"
        data-bs-dismiss="modal"
        type="button"
      ></button>
    </div>

    <div class="modal-header d-flex justify-content-center mb-3">
      <h5 class="modal-title">Resumen ingreso individual</h5>
    </div>

    <div class="modal-body flex-grow-1">
      <div class="d-flex flex-column justify-content-around">
        <div class="row px-0 mx-2 text-center">
          <div class="col text-center">
            <div class="d-flex align-items-baseline  ">
              <label class="form-label" for="registroPor"> Fecha: </label>
              <p class="form-text mb-0 ms-1" id="registroPor">28/08/24</p>
            </div>
          </div>
          <div class="col text-center ">
            <div class="d-flex align-items-baseline  justify-content-center">
              <label class="form-label" for="registroPor1">Registro: </label>
              <p class="form-text mb-0 ms-1" id="registroPor1">
                Nicolas Álvarez
              </p>
            </div>
          </div>
          <div class="col text-end ">
            <div class="d-flex align-items-baseline justify-content-center">
              <label class="form-label" for="registroPor2">Hora:</label>
              <p class="form-text mb-0 ms-1" id="registroPor2">08:30</p>
            </div>
          </div>
          <div class="container-fluid d-flex justify-content-center ps-0 pe-0">
            <hr class="my-1 hr-titulo"/>
          </div>

        </div>


        <!-- Repeat for additional rows as needed -->
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor3"> Agencia:</label>
              <p class="form-text mb-0" id="registroPor3">Las torres</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor4"> Procesador:</label>
              <p class="form-text mb-0" id="registroPor4">i3 6100</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor5"> Caja:</label>
              <p class="form-text mb-0" id="registroPor5">Si</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor6"> DPC:</label>
              <p class="form-text mb-0" id="registroPor6">369</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1 " for="registroPor7"> Numero serie:</label>
              <p class="form-text mb-0" id="registroPor7">54874569</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor8">SSD/HDD:</label>
              <p class="form-text mb-0" id="registroPor8">SSD</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor9"> Empresa:</label>
              <p class="form-text mb-0" id="registroPor9">Starken</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor10"> Marca:</label>
              <p class="form-text mb-0" id="registroPor10">DELL</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor11"> Ubicación:</label>
              <p class="form-text mb-0" id="registroPor11">Caja 1</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor12"> Fecha ingreso:</label>
              <p class="form-text mb-0" id="registroPor12">28/08/23</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor13"> Modelo:</label>
              <p class="form-text mb-0" id="registroPor13">Vostro</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor14"> RAM:</label>
              <p class="form-text mb-0" id="registroPor14">8</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor15"> Nemónico:</label>
              <p class="form-text mb-0" id="registroPor15">Stgo - a</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor16"> MAC:</label>
              <p class="form-text mb-0" id="registroPor16">60.18.95:3F:86:10</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor17"> Garantía:</label>
              <p class="form-text mb-0" id="registroPor17">1 año</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor18"> Tipo equipo:</label>
              <p class="form-text mb-0" id="registroPor18">Workstation</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor19"> IP:</label>
              <p class="form-text mb-0" id="registroPor19">10.160.216.20</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor20"> Activo:</label>
              <p class="form-text mb-0" id="registroPor20">Si</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col-4  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor21"> Sistema operativo:</label>
              <p class="form-text mb-0" id="registroPor21">Fedora</p>
            </div>
          </div>
          <div class="col-4 text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor22"> Nombre maquina:</label>
              <p class="form-text mb-0" id="registroPor22">WSF24-267</p>
            </div>
          </div>
          <div class="col-4">

          </div>

        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col-4  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor23"> Versión:</label>
              <p class="form-text mb-0" id="registroPor23">24</p>
            </div>
          </div>
          <div class="col-5 text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label class="form-label me-1" for="registroPor24">Encargado agencia:</label>
              <p class="form-text mb-0" id="registroPor24">Rodrigo Rojas</p>
            </div>
          </div>
          <div class="col-3">

          </div>
        </div>


      </div>
    </div>

    <div class="modal-footer d-flex justify-content-around p-3">
      <button (click)="cerrarModal()" class="back-button px-5 py-2 rounded-5">
        Volver
      </button>
      <button
        (click)="confirmarAccion()"
        class="search-button px-5 py-2 rounded-5"
        type="button">
        Ingresar
      </button>

    </div>
  </div>
</div>
