<div class="custom-modal">
  <div class="custom-modal-content rounded-3 d-flex flex-column p-2">
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <div class="modal-header d-flex justify-content-center mb-3">
      <h5 class="modal-title">Resumen ingreso individual</h5>
    </div>

    <div class="modal-body flex-grow-1">
      <div class="d-flex flex-column justify-content-around">
        <div class="row px-0 mx-2 text-center">
          <div class="col text-center">
            <div class="d-flex align-items-baseline  ">
              <label for="registroPor" class="form-label"> Fecha: </label>
              <p class="form-text mb-0 ms-1" id="registroPor">28/08/24</p>
            </div>
          </div>
          <div class="col text-center ">
            <div class="d-flex align-items-baseline  justify-content-center">
              <label for="registroPor" class="form-label">Registro: </label>
              <p class="form-text mb-0 ms-1" id="registroPor">
                Nicolas Álvarez
              </p>
            </div>
          </div>
          <div class="col text-end ">
            <div class="d-flex align-items-baseline justify-content-center">
              <label for="registroPor" class="form-label">Hora:</label>
              <p class="form-text mb-0 ms-1" id="registroPor">08:30</p>
            </div>
          </div>
          <div class="container-fluid d-flex justify-content-center ps-0 pe-0">
            <hr class="my-1 hr-titulo" />
          </div>
         
        </div>

       
        
        <!-- Repeat for additional rows as needed -->
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Agencia:</label>
              <p class="form-text mb-0" id="registroPor">Las torres</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Procesador:</label>
              <p class="form-text mb-0" id="registroPor">i3 6100</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Caja:</label>
              <p class="form-text mb-0" id="registroPor">Si</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> DPC:</label>
              <p class="form-text mb-0" id="registroPor">369</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1 "> Numero serie:</label>
              <p class="form-text mb-0" id="registroPor">54874569</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1">SSD/HDD:</label>
              <p class="form-text mb-0" id="registroPor">SSD</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Empresa:</label>
              <p class="form-text mb-0" id="registroPor">Starken</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Marca:</label>
              <p class="form-text mb-0" id="registroPor">DELL</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Ubicación:</label>
              <p class="form-text mb-0" id="registroPor">Caja 1</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Fecha ingreso:</label>
              <p class="form-text mb-0" id="registroPor">28/08/23</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Modelo:</label>
              <p class="form-text mb-0" id="registroPor">Vostro</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> RAM:</label>
              <p class="form-text mb-0" id="registroPor">8</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Nemónico:</label>
              <p class="form-text mb-0" id="registroPor">Stgo - a</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> MAC:</label>
              <p class="form-text mb-0" id="registroPor">60.18.95:3F:86:10</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Garantía:</label>
              <p class="form-text mb-0" id="registroPor">1 año</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Tipo equipo:</label>
              <p class="form-text mb-0" id="registroPor">Workstation</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> IP:</label>
              <p class="form-text mb-0" id="registroPor">10.160.216.20</p>
            </div>
          </div>
          <div class="col  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Activo:</label>
              <p class="form-text mb-0" id="registroPor">Si</p>
            </div>
          </div>
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col-4  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Sistema operativo:</label>
              <p class="form-text mb-0" id="registroPor">Fedora</p>
            </div>
          </div>
          <div class="col-4 text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Nombre maquina:</label>
              <p class="form-text mb-0" id="registroPor">WSF24-267</p>
            </div>
          </div>
          <div class="col-4">

          </div>
    
        </div>
        <div class="row px-0 mx-2 text-center">
          <div class="col-4  justify-content-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1"> Versión:</label>
              <p class="form-text mb-0" id="registroPor">24</p>
            </div>
          </div>
          <div class="col-5 text-center">
            <div class="d-flex align-items-baseline  text-start">
              <label for="registroPor" class="form-label me-1">Encargado agencia:</label>
              <p class="form-text mb-0" id="registroPor">Rodrigo Rojas</p>
            </div>
          </div>
          <div class="col-3">
           
          </div>
        </div>
        
       
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-around p-3">
      <button class="back-button px-5 py-2 rounded-5" (click)="cerrarModal()">
        Volver
      </button>
      <button
      type="button"
      class="search-button px-5 py-2 rounded-5"
      (click)="confirmarAccion()">
      Ingresar
    </button>
    
    </div>
  </div>
</div>
