



<div class="custom-modal">
  <div class="custom-modal-content rounded-3 d-flex flex-column p-2">
    <div class="d-flex justify-content-end">
      <button
        aria-label="Close"
        class="btn-close"
        data-bs-dismiss="modal"
        type="button"
      ></button>
    </div>

    <div class="modal-header d-flex justify-content-center mb-3">
      <h5 class="modal-title">Resumen ingreso individual</h5>
    </div>

    <div class="modal-body flex-grow-1 px-4 py-2">
      <div class="grid-container-modal-resumen  gap-3">
        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor"> Fecha: </label>
            <span class="form-text mb-0 ms-1" id="registroPor">
              {{ formattedDate || "N/A" }}
            </span>
          </div>
        </div>
        <div class="grid-item my-0 ">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor1">Registro: </label>
            <span class="form-text mb-0 ms-1" id="registroPor1">Nicolas Álvarez</span>
          </div>
        </div>
        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor2">Hora:</label>
            <span class="form-text mb-0 ms-1" id="registroPor2"> {{ formattedTime || "N/A" }}</span>
          </div>
        </div>

         

        </div>

        <div class="container-fluid d-flex justify-content-center ps-0 pe-0 mb-4">
          <hr class="my-1 hr-titulo" />
        </div>
    
        <!-- ********************************** DESPUES DEL HR ****************************************** -->

        <div class="grid-container-modal-resumen gap-2">
        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor3"> Agencia:</label>
            <span class="form-text mb-0" id="registroPor3">
              {{ datosModal.agenciaId?.nombre }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor4">
              Procesador:</label
            >
            <span class="form-text mb-0" id="registroPor4">
              {{ datosModal?.procesador || "N/A" }}
            </span>
          </div>
        </div>
        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor5"> Uso:</label>
            <span class="form-text mb-0" id="registroPor5">
              {{ datosModal.uso }}
            </span>
          </div>
        </div>
        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor6"> DPC:</label>
            <span class="form-text mb-0" id="registroPor6">
              {{ datosModal.agenciaDpc }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor7">
              Numero serie:</label
            >
            <span class="form-text mb-0" id="registroPor7">
              {{ datosModal.serie }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor8">SSD/HDD:</label>
            <span class="form-text mb-0" id="registroPor8">
              {{ datosModal.disco }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor9"> Empresa:</label>
            <span class="form-text mb-0" id="registroPor9">
              {{ datosModal.empresaId?.nombreCorto || "-" }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor10"> Marca:</label>
            <span class="form-text mb-0" id="registroPor10">
              {{ datosModal.marca }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor11">
              Ubicación:</label
            >
            <span class="form-text mb-0" id="registroPor11">
              {{ datosModal.ubicacion }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor13"> Modelo:</label>
            <span class="form-text mb-0" id="registroPor13">
              {{ datosModal.modelo }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor14"> RAM:</label>
            <span class="form-text mb-0" id="registroPor14">
              {{ datosModal?.ramGb || "N/A" }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor15">
              Nemónico:</label
            >
            <span class="form-text mb-0" id="registroPor15">
              {{ datosModal.agenciaMnemonic }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor15">
              DDL/TBK:</label
            >
            <span class="form-text mb-0" id="registroPor15">
              {{ datosModal?.ddllTbk || "N/A" }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor16"> MAC:</label>
            <span class="form-text mb-0" id="registroPor16">
              {{ datosModal?.mac || "N/A" }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor17">
              Garantía en meses:</label
            >
            <span class="form-text mb-0" id="registroPor17">
              {{ datosModal.garantiaMeses }}
            </span>
          </div>
        </div>
        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor18">
              Tipo equipo:</label
            >
            <span class="form-text mb-0" id="registroPor18">
              {{ datosModal.tipo }}
            </span>
          </div>
        </div>
        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor19"> IP:</label>
            <span class="form-text mb-0" id="registroPor19">
              {{ datosModal?.ip || "N/A" }}
            </span>
          </div>
        </div>
        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor21">
              Sistema operativo:</label
            >
            <span class="form-text mb-0" id="registroPor21">
              {{ datosModal?.sistemaOperativo || "N/A" }}
            </span>
          </div>
        </div>

        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor22">
              Nombre máquina:</label
            >
            <span class="form-text mb-0" id="registroPor22">
              {{ datosModal.nombre }}
            </span>
          </div>
        </div>
        <div class="grid-item my-0">
          <div class="">
            <label class="form-label me-1 blue-label fw-bold" for="registroPor24"
              >Encargado agencia:</label
            >
            <span class="form-text mb-0" id="registroPor24">
              {{ datosModal.encargadoAgencia }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-around p-3">
      <button
        (click)="confirmarAccion()"
        class="search-button px-5 py-2 rounded-5"
        type="button"
      >
       Cerrar
      </button>
    </div>
  </div>
</div>
