<div class="custom-modal">
  <div class="custom-modal-content rounded-3 text-center">
    <h2 class="title">Carga masiva</h2>
    <p class="description">Arrastra al recuadro o haz click en él para cargar tu archivo en formato Excel</p>

    <!-- Dropzone Area -->
    <div (click)="fileInput.click()" class="upload-box">
      <input #fileInput (change)="onFileSelected($event)" style="display: none" type="file">
      <p class="upload-text">
        <!-- Include an upload icon here -->
        <img alt="Upload icon" src="../../../../assets/image/uploadBig.svg">
      </p>
    </div>

    <!-- Información de progreso y botones -->
    <div *ngIf="fileLoading" class="progress-bar-container">
      <div [style.width]="progress + '%'" class="progress-bar"></div>
    </div>
    <div *ngIf="fileLoaded && !fileLoading" class="uploaded-file-info">
      <div class="progress-icons">
        <img alt="Uploaded" class="upload-tick-icon" src="../../../../assets/image/tick.svg">
        <div [style.width]="'100%'" class="progress-bar-full"></div>

        <button (click)="deleteFile()" class="delete-file-btn">
          <img alt="Delete file" src="../../../../assets/image/trash.svg">
        </button>
      </div>
    </div>

    <a href="https://aguas-bdc-csv-demos.s3.amazonaws.com/PLANTILLA.xlsx" download style="text-align: right; display: block">Descargar Plantilla</a>

    <div class="button-group d-flex justify-content-between">
      <button (click)="cerrarModal()" class="btn btn-outline mt-3 ">Volver</button>
      <button (click)="onUpload()" [class.btn-disabled]="!fileLoaded" class="btn btn-primary mt-3">Subir</button>
    </div>
  </div>
</div>
