<!-- Filtros -->
<button (click)="onCleanFilters()" class="button-style" mat-flat-button>
  <mat-icon>filter_alt_off</mat-icon>
  <span>Limpiar filtros</span>
</button>
<form (submit)="onSearch()" [formGroup]="searchForm">
  <div class="row mt-3 pb-4">
    <div class="col-md-3 ">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput placeholder="Nombre">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nemónico</mat-label>
        <input formControlName="nemonico" matInput placeholder="Nemónico">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>DPC</mat-label>
        <input formControlName="dpc" matInput placeholder="DPC" type="number">
      </mat-form-field>
    </div>
    <div class="col-md-3 d-flex h-56 gap-4">
      <button
        [disabled]="searchForm.invalid"
        class="h-100 search-button flex-grow-1"
        mat-flat-button
      >
        Buscar
      </button>
      <a
        [routerLink]="['create']"
        class="flex-grow-0 custom-bg-primary"
        color="primary"
        mat-fab matTooltip="Agregar Nueva Agencia"
        type="button">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </div>
</form>
<material-table
  [data]="agencies"
  [displayedColumns]="displayedColumns"
  [loading]="loading"
  [messageNoData]="messageNoData"
  [trackByFn]="trackByIdFn"
>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>NAME</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.nombre }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="nemonico">
    <mat-header-cell *matHeaderCellDef>NEMÓNICO</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.nemonico }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dpc">
    <mat-header-cell *matHeaderCellDef>DPC</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.dpc }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="companyName">
    <mat-header-cell *matHeaderCellDef>EMPRESA</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.empresa.nombreCorto }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!--      material mat menu-->
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['edit', element.id]" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>
</material-table>
