.custom-modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.custom-modal-content {
  background-color: #fefefe;
  padding: 2rem;
  /* Ajusta el padding para que sea uniforme y no muy grande */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  /* Esto dependerá del ancho que desees, pero 50% es un buen punto de partida */
  max-width: 600px;
  /* También puedes establecer un max-width para evitar que sea muy grande en pantallas anchas */
  border-radius: 1rem;
  /* Esto dará los bordes redondeados */
  transform: translateY(0%);
  position: fixed;
}

.form-select {
  margin: 0.5rem 0;
  /* Esto reduce el margen alrededor de los select */
  width: 100%;
  /* Los select ocuparán el ancho disponible en su contenedor */
}

/* Ajusta el botón de cerrar modal si es necesario */
.custom-modal .close {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.input-color {
  width: 65%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
}

.btn-outline {
  background-color: transparent;
  color: #393939;
  /* El color del texto */
  font-weight: 500;
  border-color: #FFA500;
  /* El color del borde */
}

.btn-primary {
  background-color: #34AA4E;
  color: white;
  font-weight: 500;
  border-color: #34AA4E;
}

.btn-primary:hover {
  background-color: #2C8C40;
  border-color: #2C8C40;
}


.btn-outline,
.btn-primary {
  flex: 1;
  margin: 0 3vw;
}


.color-select {
  background-color: #EAEAEA;
  font-size: 1rem;
  max-width: 300px;
  margin: auto;
}

.close {
  position: absolute;
  top: -5rem;
  right: 5rem;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  background: transparent;
  cursor: pointer;
}

.imagen {
  height: 20px;
  margin-bottom: 0.15rem;
}

@media (max-width: 768px) {
  .custom-modal-content {
    width: 80%;
    padding: 1.5rem;
  }
}


.p-button-rounded-buscar {
  color: white;
  gap: 8px;
  background: #34AA4E;
  border-radius: 100px;
}