<app-navbar></app-navbar>
<div class="container-md">
  <div class="frame mt-3" id="frame_middletop">
    <div class="row">
      <div class="col mb-3">
        <h2 class="consultation-title">
          <img
            class=""
            height="16"
            src="../../../assets/image/logo-amarillo.jpg"
          />
          Consulta masiva
        </h2>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li
              *ngFor="let crumb of breadcrumbs; let last = last"
              [class.active]="last"
              class="breadcrumb-item"
            >
              <a *ngIf="!last" [routerLink]="crumb.link">{{ crumb.text }}</a>
              <span *ngIf="last">{{ crumb.text }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 mt-4 mb-3 mt-md-0">
        <select
          class="form-select py-3 color-select"
          [(ngModel)]="selectedMachineType"
          (change)="onEquipmentTypeChange()"
        >
          <option disabled selected value="">Tipo de equipo</option>
          <option
            *ngFor="let equipment of equipmentTypes"
            [value]="equipment.name"
          >
            {{ equipment.name }}
          </option>
        </select>
      </div>
      <div class="col-md-4 mt-4 mb-3 mt-md-0">
        <select
          class="form-select py-3 color-select"
          [(ngModel)]="selectedSystem"
        >
          <option disabled selected value="">Sistema operativo</option>
          <option *ngIf="!systems || systems.length === 0" [value]="'N/A'">
            N/A
          </option>
          <ng-container *ngFor="let system of systems">
            <option [value]="system.name">{{ system.name }}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="row mb-3 d-flex justify-content-between">
      <div class="col-md-4 mt-4 mb-3 mt-md-0">
        <select
          class="form-select py-3 color-select"
          [(ngModel)]="selectedUsage"
        >
          <option disabled selected value="">Uso</option>
          <option *ngFor="let use of usages" [value]="use">{{ use }}</option>
        </select>
      </div>
      <div class="col-md-2 d-flex align-items-center">
        <button
          (click)="onSearch()"
          class="search-button p-2 w-100"
          pButton
          type="button"
          [disabled]="loading"
          [label]="loading ? null : 'Buscar'"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid tabla my-2 px-0">
    <hr *ngIf="!showTable" />
    <app-tablas
      *ngIf="showTable"
      [data]="filteredContent"
      [companyId]="companyId"
      [agencyId]="agencyId"
      [tipoEquipo]="selectedMachineType"
      [sistemaOperativo]="selectedSystem"
      [uso]="selectedUsage"
      
    ></app-tablas>
    <div class="row my-4 d-flex justify-content-between">
      <div class="col-12 col-md-2 mb-3">
        <button
          class="back-button p-2 w-100"
          label="Volver"
          pButton
          routerLink="/home"
          type="button"
        ></button>
      </div>
      <div *ngIf="showTable" class="col-12 col-md-2 mb-3">
        <button
        (click)="tablasComponent.exportToExcel()"
        [disabled]="filteredContent?.length === 0"
        class="search-button p-2 w-100"
        label="Excel"
        pButton
        type="button"
      ></button>
      </div>
    </div>
  </div>
</div>
