<app-navbar></app-navbar>
<app-modal-exitoso
  (cerrar)="cerrarModalExito()"
  *ngIf="mostrarModalExito"
  [mensajeModal]="mensajeModalExito"
  [titulo]="tituloModalExito"
></app-modal-exitoso>

<div class="container-md mb-5">
  <div class="frame mt-3" id="frame_middletop">
    <div class="row">
      <div class="col mb-3">
        <h2 class="consultation-title">
          <img
            class=""
            height="16"
            src="../../../assets/image/logo-amarillo.jpg"
          />
          Equipos duplicados
        </h2>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li
              *ngFor="let crumb of breadcrumbs; let last = last"
              [class.active]="last"
              class="breadcrumb-item"
            >
              <a *ngIf="!last" [routerLink]="crumb.link">{{ crumb.text }}</a>
              <span *ngIf="last">{{ crumb.text }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <div class="container-fluid tabla">
          <app-tabla-equipos-duplicados
            [data]="datos"
          ></app-tabla-equipos-duplicados>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <button
            class="back-button px-5 py-2"
            label="Volver"
            pButton
            routerLink="/home"
            type="button"
          ></button>

          <button
            (click)="abrirModalExito()"
            class="search-button px-5 py-2"
            label="Reemplazar"
            pButton
            type="button"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
