<div class="mat-elevation-z0 rounded-5 shadow">
  <div class="table-responsive">
    
    <table mat-table [dataSource]="dataSource">
      <!-- N° Inventario Column -->
      <ng-container matColumnDef="inventario">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="rounded-header first-header color-headers text-center text-light"
        >
          N° Inventario
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.inventario }}
        </td>
      </ng-container>

      <!-- Equipo Column -->
      <ng-container matColumnDef="equipo">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="color-headers text-center text-light"
        >
          Equipo
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.equipo }}
        </td>
      </ng-container>

      <!-- DCP Column -->
      <ng-container matColumnDef="dcp">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="color-headers text-center text-light"
        >
          DCP
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.dcp }}
        </td>
      </ng-container>

      <!-- Agencia Column -->
      <ng-container matColumnDef="agencia">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="color-headers text-center text-light"
        >
          Agencia
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.agencia }}
        </td>
      </ng-container>

      <!-- Empresa Column -->
      <ng-container matColumnDef="empresa">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="color-headers text-center text-light"
        >
          Empresa
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.empresa }}
        </td>
      </ng-container>

      <!-- Usuario Column -->
      <ng-container matColumnDef="usuario">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="color-headers text-center text-light"
        >
          Usuario
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.usuario }}
        </td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="rounded-header last-header color-headers text-center text-light"
        >
          Modelo
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.modelo }}
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      class="custom-borders w-100"
    ></mat-paginator>
  </div>
</div>
