<app-modal-exitoso
  *ngIf="mostrarModal"
  [titulo]="tituloModal"
  [mensajeModal]="mensajeModal"
  (cerrar)="cerrarModal()">
</app-modal-exitoso>
<div class="foto-container">


    <img
      src="../../../assets/image/Foto-fondo.jpg"
      class="background-image"
      alt=""
    />
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center mt-5">
          <div class="justify-content-center">
            <img class="logo" src="../../../assets/image/LogoGrande.svg" alt="logo" />
          </div>
        <p class="titulo">Ingresa nueva contraseña</p>
          <p-card class="row justify-content-center">
            <form class="p-fluid">
          
              
              <div class="p-field mb-3">
                <p-password class="input-color" placeholder="Nueva contraseña" [toggleMask]="true" ></p-password>
              </div>
              <div class="p-field mb-3">
                <p-password  class="input-color" placeholder="Repetir Nueva contraseña" [toggleMask]="true" ></p-password>
              </div>
              
              
              
              
                <button
    pButton
    type="button"
    label="Cambiar contraseña"
    class="p-button-rounded mt-5"
    (click)="abrirModalExitoso()"
  ></button>




              <button
              pButton
              routerLink="/login"
              type="button"
              label="Volver"
              class="back-button mt-3"
            ></button>
            </form>
           
       
          </p-card>
        </div>
      </div>
    </div>
  </div>