<div class="foto-container">
  <img alt="" class="background-image" src="../../../assets/image/Foto-fondo.jpg"/>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center mt-5">
        <div class="justify-content-center">
          <img alt="logo" class="logo" src="../../../assets/image/LogoGrande.svg"/>
        </div>
        <p-card class="row justify-content-center">
          <form #passwordForm="ngForm" class="p-fluid">
            <!-- Display error message -->
            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

            <!-- Verification Code Input -->
            <div class="p-field mb-3">
              <input #verificationCodeModel="ngModel" [(ngModel)]="verificationCode" (ngModelChange)="verificationCode = $event.trim()" class="input-color"
                     name="verificationCode"
                     pInputText placeholder="Código de verificación" required type="text">
              <div *ngIf="verificationCodeModel.errors?.['required'] && verificationCodeModel.touched"
                   class="p-error mt-1">
                El código de verificación es necesario.
              </div>
            </div>

            <!-- New Password Input -->
            <div class="p-field mb-3">
              <p-password #newPasswordModel="ngModel" [(ngModel)]="newPassword" [toggleMask]="true"
                          class="input-color" minlength="8" name="newPassword" placeholder="Nueva contraseña"
                          required></p-password>
              <div *ngIf="newPasswordModel.errors?.['required'] && newPasswordModel.touched" class="p-error mt-1">Nueva
                contraseña es requerida.
              </div>
              <div *ngIf="newPasswordModel.errors?.['minlength'] && newPasswordModel.touched" class="p-error mt-1">
                La contraseña debe contener al menos 8 caracteres.
              </div>
            </div>

            <!-- Confirm Password Input -->
            <div class="p-field mb-3">
              <p-password #confirmPasswordModel="ngModel" [(ngModel)]="confirmPassword" [toggleMask]="true"
                          class="input-color" name="confirmPassword" placeholder="Repetir nueva contraseña"
                          required></p-password>
              <div *ngIf="confirmPasswordModel.errors?.['required'] && confirmPasswordModel.touched"
                   class="p-error mt-1">Confirmación de contraseña es requerida.
              </div>
              <div *ngIf="newPassword !== confirmPassword && confirmPasswordModel.touched" class="p-error mt-1">Las
                contraseñas no coinciden.
              </div>
            </div>

            <!-- Change Password Button -->
            <button (click)="changePassword()" [disabled]="passwordForm.invalid" class="p-button-rounded mt-5"
                    label="Cambiar contraseña"
                    pButton type="button"></button>
            <button class="back-button mt-3" label="Volver" pButton routerLink="/sign-in" type="button"></button>
          </form>
        </p-card>
      </div>
    </div>
  </div>
</div>

<app-modal-exitoso
  (cerrar)="cerrarModal()"
  *ngIf="mostrarModal"
  [mensajeModal]="mensajeModal"
  [titulo]="tituloModal">
</app-modal-exitoso>
