<div class="mat-elevation-z0 rounded-5 shadow">
  <app-modal-eliminar
    (cerrar)="cerrarModalEliminar()"
    (exito)="confirmarEliminacion()"
    *ngIf="mostrarModalEliminar"
  >
  </app-modal-eliminar>

  <app-modal-exitoso
    (cerrar)="cerrarModalExito()"
    *ngIf="mostrarModalExito"
    [mensajeModal]="mensajeModalExito"
    [titulo]="tituloModalExito"
  >
  </app-modal-exitoso>

  <app-modal-editar
    (cerrar)="cerrarModalEditar()"
    (exitoEditar)="onEditarUsuarioExitoso()"
    *ngIf="mostrarModalEditar"
    [mensajeModalEditar]="mensajeModalEditar"
  >
  </app-modal-editar>
  <div class="table-responsive">
    <table [dataSource]="dataSource" mat-table>
    

      <ng-container matColumnDef="nombre">
        <th
          *matHeaderCellDef
          class="color-headers text-center text-light"
          mat-header-cell
        >
          Nombre
        </th>
        <td *matCellDef="let element" class="text-center" mat-cell>
          {{ element.nombre }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rut">
        <th
          *matHeaderCellDef
          class="color-headers text-center text-light"
          mat-header-cell
        >
          Rut
        </th>
        <td *matCellDef="let element" class="text-center" mat-cell>
          {{ element.rut }}
        </td>
      </ng-container>

      <ng-container matColumnDef="correo">
        <th
          *matHeaderCellDef
          class="color-headers text-center text-light"
          mat-header-cell
        >
          Correo
        </th>
        <td *matCellDef="let element" class="text-center" mat-cell>
          {{ element.correo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="perfil">
        <th *matHeaderCellDef class="color-headers text-center text-light" mat-header-cell>
          Perfil
        </th>
        <td *matCellDef="let element" class="text-center" mat-cell>
          {{ getPerfilDescripcion(element.perfil) }} <!-- Usa la función aquí -->
        </td>
      </ng-container>
      

      <ng-container matColumnDef="acciones">
        <th
          *matHeaderCellDef
          class="rounded-header last-header color-headers text-center text-light"
          mat-header-cell
        >
          Acciones
        </th>
        <td *matCellDef="let element" class="text-center" mat-cell>
          <div class="d-flex justify-content-evenly align-items-center">
            <!-- <button
              (click)="editarUsuario(element); abrirModalEditar()"
              class="hidden-button"
              mat-button
              matTooltip="Editar usuario"
            >
              <img
                class="imagen"
                src="../../../../assets/image/edittabla.svg"
              />
            </button> -->
            <button
              (click)="abrirModalEliminar(element)"
              class="hidden-button"
              mat-button
              matTooltip="Eliminar usuario"
            >
              <img class="imagen" src="../../../../assets/image/trash-2.svg"/>
            </button>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
    <mat-paginator
      #paginator
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      class="rounded-3"
    ></mat-paginator>
  </div>
</div>
