<div class="mat-elevation-z0 rounded-5 shadow">
  <app-modal-eliminar
    *ngIf="mostrarModalEliminar"
    (cerrar)="cerrarModalEliminar()"
    (exito)="abrirModalExito()"
  >
    <!-- Este manejará la apertura del modal de éxito -->
  </app-modal-eliminar>

  <!-- Asegúrate de que el modal de éxito también está en tu componente padre y se muestra basado en mostrarModalExito -->
  <app-modal-exitoso
    *ngIf="mostrarModalExito"
    [titulo]="tituloModalExito"
    [mensajeModal]="mensajeModalExito"
    (cerrar)="cerrarModalExito()"
  >
    <!-- Este manejará el cierre del modal de éxito -->
  </app-modal-exitoso>

  <app-modal-editar
    *ngIf="mostrarModalEditar"
    (cerrar)="cerrarModalEditar()"
    [mensajeModalEditar]="mensajeModalEditar"
    (exitoEditar)="onEditarUsuarioExitoso()"
  >
  </app-modal-editar>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="usuario">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="rounded-header first-header color-headers text-center text-light"
        >
          Usuario
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.usuario }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="color-headers text-center text-light"
        >
          Nombre
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.nombre }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rut">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="color-headers text-center text-light"
        >
          Rut
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.rut }}
        </td>
      </ng-container>

      <ng-container matColumnDef="correo">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="color-headers text-center text-light"
        >
          Correo
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.correo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="perfil">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="color-headers text-center text-light"
        >
          Perfil
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.perfil }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="rounded-header last-header color-headers text-center text-light"
        >
          Acciones
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <div class="d-flex justify-content-evenly align-items-center">
            <button
              mat-button
              class="hidden-button"
              (click)="editarUsuario(element); abrirModalEditar()"
            >
              <img
                src="../../../../assets/image/edittabla.svg"
                class="imagen"
              />
            </button>
            <button
              mat-button
              class="hidden-button"
              (click)="eliminarUsuario(element); abrirModalEliminar()"
            >
              <img src="../../../../assets/image/trash-2.svg" class="imagen" />
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      class="rounded-3"
    ></mat-paginator>
  </div>
</div>
