

/* Asegúrate de que solo los primeros y últimos encabezados tengan bordes redondeados */
/* Esto evita conflictos visuales entre celdas adyacentes */
.first-header {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0; /* Se elimina el redondeo inferior izquierdo */
}

.last-header {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0; /* Se elimina el redondeo inferior derecho */
}



.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Ajusta el espacio entre botones */
}

.action-button {
  border: none; /* Elimina el borde del botón */
  border-radius: 0.375rem; /* Bordes redondeados para los botones */
  padding: 0.25rem 0.5rem; /* Padding interno para los botones */
  cursor: pointer; /* Cambia el cursor a pointer */
  color: white; /* Texto blanco para los botones */
}

.edit-button {
  background-color: #ffc107; /* Color amarillo para editar */
}

.delete-button {
  background-color: #dc3545; /* Color rojo para eliminar */
}

.color-headers{
  background-color: #388CD9 !important;
}

.custom-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.hidden-button {
  background: none;
  border: none;
  cursor: pointer;
}

.hidden-button:focus {
  outline: none; /* Eliminar el contorno de enfoque */
}