<div class="custom-modal">

  <div class="custom-modal-content rounded-3 text-center">
    <!-- <button class="close  " (click)="cerrarModal()">&times;</button> -->
    <h4 class="my-2">Consulta Masiva</h4>
    <form class="form-group mt-5">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Empresa</mat-label>
        <input matInput
               placeholder="Selecciona una empresa"
               aria-label="Empresa"
               [matAutocomplete]="auto"
               [formControl]="empresaControl">
        <mat-autocomplete #auto="matAutocomplete">
          @for (empresa of empresasFiltradas | async; track empresa.id) {
            <mat-option [value]="empresa.razonSocial"(click)="seleccionarEmpresa(empresa)">
              {{ empresa.razonSocial }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="button-group d-flex justify-content-between mt-5 mb-3">
      <button (click)="cerrarModal()" class="btn btn-outline mt-5">Volver</button>
      <button (click)="irAConsultaMasiva()" class="btn btn-primary mt-5">Continuar</button>
    </div>
  </div>
</div>