<app-navbar></app-navbar>
<app-modal-historial-equipo
  [equipoId]="equipoActualId"
  (cerrar)="cerrarModalHistorialEquipo()"
  *ngIf="mostrarModalHistorialEquipo"
></app-modal-historial-equipo>

<div class="container-md">
  <div class="frame mt-3" id="frame_middletop">
    <div class="row">
      <div class="col-md-6">
        <h2 class="consultation-title">
          <img
            class=""
            height="16"
            src="../../../assets/image/logo-amarillo.jpg"
          />
          Consulta Individual
        </h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li
              *ngFor="let crumb of breadcrumbs; let last = last"
              [class.active]="last"
              class="breadcrumb-item"
            >
              <a *ngIf="!last" [routerLink]="crumb.link">{{ crumb.text }}</a>
              <span *ngIf="last">{{ crumb.text }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row mt-4 mb-3">
      <div *ngFor="let equipment of equipments; let i = index" class="col-md-6 mb-4">
        <div class="card border rounded card-shadow-box-datas">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title">Datos del equipo #{{ i + 1 }}</h5>
              </div>
              <div class="col-auto">
                <span class="badge bg-secondary tiempo-garantia">
                  Tiempo de garantía: @if (equipment.fechaCompra &&
                  equipment.garantiaMeses) {
                  {{
                    calcularMesesGarantiaRestantes(
                      equipment.fechaCompra,
                      equipment.garantiaMeses
                    ).meses > 1
                      ? calcularMesesGarantiaRestantes(
                          equipment.fechaCompra,
                          equipment.garantiaMeses
                        ).meses + " Meses"
                      : calcularMesesGarantiaRestantes(
                          equipment.fechaCompra,
                          equipment.garantiaMeses
                        ).meses === 1
                      ? "1 Mes"
                      : calcularMesesGarantiaRestantes(
                          equipment.fechaCompra,
                          equipment.garantiaMeses
                        ).dias > 0
                      ? "Menos de " +
                      calcularMesesGarantiaRestantes(
                          equipment.fechaCompra,
                          equipment.garantiaMeses
                        ).dias +
                        " días"
                      : "Se ha acabado la garantía"
                  }}
                  } @else { Sin garantía }
                </span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <p><strong>Equipo:</strong> {{ equipment.tipo || "N/A" }}</p>
                <p><strong>Marca:</strong> {{ equipment.marca || "N/A" }}</p>
                <p><strong>Modelo:</strong> {{ equipment.modelo || "N/A" }}</p>
                <p><strong>Uso:</strong> {{ equipment.uso || "N/A" }}</p>
                <p><strong>Ubicación:</strong> {{ equipment.ubicacion || "N/A" }}</p>
              </div>
              <div class="col">
                <p><strong>Número CI:</strong> {{ equipment.inventario || "N/A" }}</p>
                <p><strong>Agencia:</strong> {{ equipment.agencia?.nombre || "Agencia eliminada" }}</p>
                <p><strong>DPC:</strong> {{ equipment.agenciaDpc || "N/A" }}</p>
                <p><strong>Nemónico:</strong> {{ equipment.agenciaMnemonic || "N/A" }}</p>
                <p><strong>Estado:</strong> {{ equipment.estado === 0 ? "Inactivo" : equipment.estado === 1 ? "Activo" : equipment.estado === 2 ? "En Bodega" : "N/A" }}</p>
              </div>
              <div class="col">
                <p><strong>Rut:</strong> {{ equipment.rut || "N/A" }}</p>
                <p><strong>N° Serie:</strong> {{ equipment.serie || "N/A" }}</p>
                <p><strong>Encargado Agencia:</strong> {{ equipment.encargadoAgencia || "N/A" }}</p>
                <p><strong>Fecha Ingreso:</strong> {{ equipment.fechaIngreso || "N/A" }}</p>
              </div>
            </div>
            <div class="row mt-3 d-flex justify-content-between">
              <div class="col-12 col-md-5 mb-3 pe-md-0">
                <button (click)="abrirModalHistorialEquipo(equipment.id)" class="historial-button p-2 w-100" label="Ver Historial" pButton type="button"></button>
              </div>
              <div class="col-12 col-md-5  mb-3 ps-md-0 " *ngIf="rol === RoleEnum.ADMIN || rol === RoleEnum.INGRESO">
                <button class="equipo-button p-2 w-100 rounded-5" label="Ver Equipo" pButton type="button" [routerLink]="['/editar-equipamiento', equipment.id]"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
