.container-fluid {
  padding: 0 20px !important;
}

.d-flex li {
  list-style: none;
  margin: 0px;
  padding: 0px;

}

.profile-text {
  text-align: right;
}

.user-icon {
  /* margin-right: 1rem; */
}

.navbar-nav .text-end {
  margin: 0 .5rem;
  padding: 0 .5rem;
}

.navbar-shadow-box {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}


