/* Botón redondeado */
.p-button-rounded {
  color: #5D5D5D;
  gap: 8px;
  background: #F3B04E;
  border-radius: 100px;

}

/* Color del texto del p-float-label */
.p-float-label label {
  color: #5D5D5D;
}

/* Opcional: Cambiar el color del texto del p-float-label a gris claro */
.p-float-label.focused label {
  color: #c0c0c0;
}

.p-card {
  box-shadow: none;
  width: 400px;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;

}

.container {
  transform: scale(0.9);
  position: relative;
  z-index: 1;
}

.foto-container {
  position: relative;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Coloca la imagen de fondo detrás de otros elementos */
}

.input-color {
  background: rgba(33, 33, 33, 0.08);
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}
.disabled-link {
  pointer-events: none; /* Desactiva eventos de clic */
  color: grey; /* Cambia el color a gris para indicar que el enlace está deshabilitado */
}