<div class="foto-container">
  <img alt="" class="background-image" src="../../../assets/image/Foto-fondo.jpg"/>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center mt-5">
        <div class="justify-content-center">
          <img alt="logo" class="logo" src="../../../assets/image/LogoGrande.svg"/>
        </div>
        <p-card class="row justify-content-center">
          <form #loginForm="ngForm" (ngSubmit)="signIn()" *ngIf="!requireNewPassword" class="p-fluid">
            <div *ngIf="errorLogin" class="p-error mt-3">Usuario o contraseña incorrectos.</div>
            <div *ngIf="isBlocked" class="p-error mt-3">{{ errorMessage }}</div>

            <div class="p-field mt-3" [ngClass]="{'p-invalid': !emailModel.valid && emailModel.touched}">
              <input [(ngModel)]="usuario" class="input-color" id="username" name="usuario" pInputText
                     placeholder="Correo corporativo" type="email" #emailModel="ngModel" [disabled]="loading" required email/>
              <div *ngIf="emailModel.errors?.required && emailModel.touched" class="p-error mt-1">
                El correo es requerido.
              </div>
              <div *ngIf="emailModel.errors?.email && emailModel.touched" class="p-error mt-1">
                Por favor, ingrese un correo electrónico válido.
              </div>
            </div>

            <div class="p-field mt-3">
              <p-password [(ngModel)]="password" [feedback]="false" [toggleMask]="true" class="input-color"
                          name="password" placeholder="Contraseña" [disabled]="loading"></p-password>
            </div>

            <button
              class="p-button-rounded mt-5"
              pButton
              type="submit"
              [disabled]="loading || isBlocked || !loginForm.valid"
              [label]="loading ? null : 'Iniciar Sesión'"
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button>

          </form>
          <p-card *ngIf="requireNewPassword" class="row justify-content-center">
            <form #newPasswordForm="ngForm" (ngSubmit)="submitNewPassword()" class="p-fluid">
              <div *ngIf="errorLogin" class="p-error mt-3">{{ errorMessage }}</div>

              <div class="p-field mt-3">
                <p-password #newPasswordModel="ngModel" [(ngModel)]="newPassword" [feedback]="false"
                            [toggleMask]="true" class="input-color" minlength="8" name="newPassword"
                            placeholder="Nueva contraseña"
                            required></p-password>
                <div *ngIf="newPasswordModel.errors?.['required'] && newPasswordModel.touched" class="p-error mt-1">
                  Nueva contraseña es requerida.
                </div>
                <div *ngIf="newPasswordModel.errors?.['minlength'] && newPasswordModel.touched" class="p-error mt-1">
                  La contraseña debe contener al menos 8 caracteres.
                </div>
              </div>

              <div class="p-field mt-3">
                <p-password #confirmPasswordModel="ngModel" [(ngModel)]="confirmPassword" [feedback]="false"
                            [toggleMask]="true" class="input-color" name="confirmPassword"
                            placeholder="Confirmar Nueva contraseña"
                            required></p-password>
                <div *ngIf="confirmPasswordModel.errors?.['required'] && confirmPasswordModel.touched"
                     class="p-error mt-1">confirmar contraseña es requerido.
                </div>
                <div *ngIf="newPassword !== confirmPassword && confirmPasswordModel.touched" class="p-error mt-1">Las
                  contraseñas no coinciden.
                </div>
              </div>

              <button [disabled]="newPasswordForm.invalid" class="p-button-rounded mt-5"
                      label="Establecer nueva contraseña" pButton
                      type="submit"></button>
            </form>
          </p-card>


        </p-card>

        <!-- Link to forgot password -->
        <div *ngIf="!requireNewPassword" class="p-field mt-3">
          <a [routerLink]="['/forgot-password']" class="mt-3" [class.disabled-link]="loading">Olvidé mi contraseña</a>
        </div>
      </div>
    </div>
  </div>
</div>
