@import 'primeng/resources/themes/md-light-indigo/theme.css';
@import 'primeng/resources/primeng.min.css';

@import './assets/styles/_custom.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  transform: scale(0.9);
}

app-root {
  padding-bottom: 4em;
}

.p-inputtext {
  border: none;
  background-color: #21212114;
  border-radius: 5px 5px 0 0;
  transition: box-shadow 0.1s, border-radius 0.1s;

}

.p-inputtext:hover,
.p-inputtext:focus {
  box-shadow: 0 0 0 1px #B1B1B1;
  outline: none;
  border-radius: 0;
}

.c-pointer {
  cursor: pointer;
}

.rounded-xl {
  border-radius: 100px;
}
