<app-navbar></app-navbar>

<div class="container-md">
  <div class="frame mt-3" id="frame_middletop">
    <div class="row">
      <div class="col mb-3">
        <h2 class="consultation-title">
          <img
            class=""
            height="16"
            src="../../../assets/image/logo-amarillo.jpg"
          />
          Editar usuario
        </h2>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li
              *ngFor="let crumb of breadcrumbs; let last = last"
              [class.active]="last"
              class="breadcrumb-item"
            >
              <a *ngIf="!last" [routerLink]="crumb.link">{{ crumb.text }}</a>
              <span *ngIf="last">{{ crumb.text }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 mt-4 mb-3 mt-md-0">
        <!-- Dropdown para el uso -->
        <form class="p-fluid" (submit)="onFormSubmit($event)">
          <div class="p-inputgroup mt-3 position-relative">
            <input
              #searchInput
              class="input-color rounded-5"
              id="search_username"
              pInputText
              placeholder="Nombre o rut del usuario"
              type="text"
              (keypress)="handleKeyPress($event, searchInput)"
            />
            <img
              (click)="onSearch(searchInput)"
              alt="Search Icon"
              class="custom-input-icon"
              src="../../../assets/image/searchIcon.svg"
            />
          </div>
        </form>
        
      </div>
    </div>
  </div>
  <div class="container-fluid no-tabla my-2">
    <hr *ngIf="!showTable"/>
    <app-tablas-editar-usuario *ngIf="showTable"></app-tablas-editar-usuario>
    <div class="row my-4 d-flex justify-content-between">
      <div class="col-12 col-md-2 mb-3">
        <button
          class="back-button p-2 w-100"
          label="Volver"
          pButton
          routerLink="/home"
          type="button"
        ></button>
      </div>
    </div>
  </div>
</div>
