

<div class="custom-modal">

    <div class="custom-modal-content rounded-3 text-center">
        <h2 class="my-3">Eliminar Usuario</h2>
        <img src="../../../../assets/image/alert.svg" class="mt-4 mb-4" alt="Alert" />
        <p class="subtitulo">¿Esta seguro que desea eliminar el usuario?</p>
  
        
        <div class="modal-footer mt-4 pt-0">
          <button class="btn btn-outline my-3 px-1" (click)="cerrarModal()">Volver</button>
          <button class="btn btn-eliminar px-1"    (click)="abrirModalExitoso()" >Eliminar</button>
    
    
        </div>
      </div>
    </div>
    